{% extends "duelink/base.html" %}
{% load staticfiles %}
{% block links %}

    <script src="{% static 'jquery/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'jquery/jquery.timepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'fullcalendar-2.4.0/lib/moment.min.js' %}"></script>
    <script src="{% static 'horsey/horsey.min.js' %}"></script>
    <script src="{% static 'js/search_course.js' %}"></script>
    <script src="{% static 'js/add_event.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %} "/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %} "/>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/add_event.css" %}">
    {% load add_css %}
{% endblock links %}
{% block title %}Add Event{% endblock title %}
{% block content %}
    <div class="container" id="add-event">


        <form class="form add-event" action="{% url 'add_event' %}" method="POST">
         <label>Select Course</label>
        <input name = "search_course" id = "search_course" type = "text">
            <h2 class="form add-event header">Add new event</h2>


            {% for error in form.non_field_errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}

            <table>
                <tr>
                    <td>{{ form.name|add_css_id:"form-control" }}</td>
                    <td class="error">{{ form.name.errors }}</td>
                </tr>
                <tr class="select course">
                    <td class="select course">
                        Select course:
                    </td>
                </tr>
                <tr>

                    <td>{{ form.course|add_css_id:"form-control" }}</td>
                    <td class="error">{{ form.course.errors }}</td>
                </tr>

            </table>
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
        {% csrf_token %}
        </form>


        <div class="demo">
            <div class="select time"><b>Select date and time:</b></div>

            <input id="timePicker" type="text" data-time-format="H:i"/>
            <input id="datePicker">

        </div>

        <button class="submit button add-event" id="submit_request">Submit Request</button>

    </div>
{% endblock content %}
