<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom styles for this template -->
    {% load static %}

    <link rel="stylesheet" href="{% static "css/duelink.css" %}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "bootstrap-3.3.5-dist/js/jquery-2.1.4.min.js" %}" type="text/javascript"></script>

    <script src="{% static "js/duelink.js" %}" type="text/javascript"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% block links %}
    {% endblock links %}
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
<div class="row">
    <div class="col-md-2" id="left-margin"></div>
    <div class="col-md-8" id="middle">
        {% block content %}

        {% endblock %}
    </div>
    <div class="col-md-2" id="right-margin"></div>
</div>
{% block log_out %}
    <a href='{% url 'logout' %}'>Log out</a>
{% endblock %}
</body>
</html>