{% load staticfiles %}


<div class="row" id="deadline">
    <div class="col-md-8">
        <div class="deadline-header">
            <!-- image -->
            <div class="col-md-2">
                <a href="{% url 'profile' event.user.id %}">
                    <img class="img-thumbnail" alt="60x60" src="{% url 'profile_image' post.user.id %}"
                         data-holder-rendered="true"></a>
            </div>
            <!-- name -->
            <div class="col-md-4">
                <p><span class="span-username">{{ event.user.nick_name }}</span>
            </div>
            <!-- due time -->
            <div class="col-md-6">
                <p><span class="span-due-time">{{ event.deadline.due }}</span></p>
            </div>
        </div>
        <!-- end header -->

        <div class="deadline-content">
            <div class="div-deadline-course">
                <p><span class="span-post-text">{{ event.deadline.course }}</span></p>
            </div>
            <div class="div-deadline-name">
                <p><span class="span-post-text">{{ event.deadline.name }}</span></p>
            </div>
            <div class="div-deadline-status">
                <p><span class="span-post-text">
                    {{ event.progress }}
                </span></p>
            </div>
        </div>
        <!-- end content -->
    </div>
    <div class="col-md-4">
        <!-- draw a circle
        <div class="div-deadline-percent">
            <p><span class="span-post-text">{{ percent }}</span></p>
        </div> -->
    </div>

</div>


