<!-- template for user's deadlines -->
{% extends "duelink/base.html" %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/deadline.css' %}">
    <script src="{% static "js/profile.js" %}"></script>
{% endblock links %}
{% block title %}{{ profile.nick_name }}'s Dues{% endblock %}


{% block profile %}

<li class="active"><a href="#">
    {% if self %}
    <img class="nav-image" src="{% url 'profile_image' profile.user.id %}"/>
    My Dues
    {% else %}
    {{ profile.nick_name }}'s Dues
        {% endif %}
    </a></li>
{% endblock profile %}


{% block content %}
    <div id="deadline-stream-whole">
        <!--Start of user icon and link-->
        <div class="col-md-2">
            <div class="row" id="deadline-icon-row">
                <div id="profile_img"><img class="img-thumbnail" alt="100x100"
                                           src="{% url 'profile_image' profile.user.id %}"
                                           data-holder-rendered="true">
                </div>
            </div>
            <div class="row">
                <label id="name">
                    {{ profile.user.username }}
                    <br>
                    ({{ profile.nick_name }})
                </label>

                <p>@{{ profile.school }}</p>
            </div>
            <div class="row">

                <!--link or unlink-->
                <div class="container-fluid">
                    {% if not self %}
                        {% if linked %}

                            <!--<form action="{% url 'unlink' user_id %}" method="POST">-->
                            <a id="button-link" class="btn btn-block btn-default" onclick="unlink({{ user_id }})"
                               type="submit">unlink</a>
                            <!--{% csrf_token %}-->
                            <!--</form>-->
                        {% else %}
                            <!--<form action="{% url 'link' user_id %}" method="POST">-->
                            <a id="button-link" class="btn btn-block btn-primary" onclick="link({{ user_id }})"
                               type="submit">link</a>
                            <!--{% csrf_token %}-->
                            <!--</form>-->
                        {% endif %}
                    {% endif %}
                </div>
                <!--End link or unlink -->
            </div>
        </div>
        <!--End of user icon name link-->

        <div class="col-md-1"></div>

        <!--Start of deadlines-->
        <div class="col-md-8" id="deadline-panel">
            <div class="row">
                <br>
            </div>
            {% for event in events %}
                {% include 'duelink/deadline.html' %}
            {% endfor %}
        </div>
        <!--end of deadlines-->
        <div class="col-md-1">

        </div>

    </div>

    </div>
{% endblock content %}


<!--place for errors-->
<div class="row">
    {% block error %}
        {% if errors %}
            {% for error in errors %}
                <p class="error" style="color:red">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}
    {% endblock error %}
</div>
<!--end place for errors-->