{% extends "dueLink/user_settings.html" %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% load add_css %}
{% block links %}
    <link rel="stylesheet" href="{% static "css/edit_profile.css" %}">
{% endblock links %}
{% block edit_profile %}
    <div class="container" id="div-edit-profile">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <h3>Edit Profile</h3>
            {% for error in profile_form.non_field_errors %}
                <div class="error">
                    {{ error }}
                </div>
            {% endfor %}
            <form class="div-edit-profile" enctype="multipart/form-data" action="{% url 'edit_profile' %}"
                  method="POST">
                <table id="table-user-edit">
                    <tr>
                        <td><span class="span-edit-user">First name </span></td>
                    </tr>
                    <tr>
                        <td> {{ user_form.first_name|add_css_id:"form-control" }} </td>
                        <td>{{ user_form.first_name.errors }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td><span class="span-edit-user">Last name </span></td>
                    </tr>
                    <tr>
                        <td> {{ user_form.last_name|add_css_id:"form-control" }} </td>
                        <td>{{ user_form.last_name.errors }}</td>
                    </tr>
                    <tr>
                </table>

                <table id="table-profile-edit">

                    <tr>
                        <td><span class="span-edit-profile">Nick name</span></td>
                    </tr>
                    <tr>
                        <td> {{ profile_form.nick_name|add_css_id:"form-control" }} </td>
                        <td>{{ profile_form.nick_name.errors }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td><span class="span-edit-profile">School </span></td>
                    </tr>
                    <tr>
                        <td> {{ profile_form.school|add_css_id:"form-control" }} </td>
                        <td>{{ profile_form.school.errors }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td><span class="span-edit-profile">Profile image </span></td>
                    </tr>
                    <tr>
                        <td> {{ profile_form.profile_image|add_css_id:"form-control" }} </td>
                        <td>{{ profile_form.profile_image.errors }}</td>
                    </tr>
                    <tr>
                </table>

                <button type="submit" class="form-control">Save</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="col-md-2"></div>

    </div>

{% endblock %}
