{% extends "duelink/base.html" %}
{% block title %}Friend List{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/friend_list.css" %}">
{% endblock links %}

{% block friend_list %}
    <li class="active">
        <a href="#">
            <img class="nav-image" src="{% static "images/friends.png" %}">
            <span class="text">Friends</span>
        </a>
    </li>
{% endblock friend_list %}

<!--TODO: friendlist style -->
{% block content %}
    {% if search_result %}
        <div class="search-result">
        <span class="search-result">Search result for: {{ search_term }}</span>
        </div>
    {% endif %}
    <div class="friends">
        {% for friend in friend_list %}
            <div class="one-friend">
                <div class="row" id="friend-{{ friend.id }}">
                    <!-- image -->
                    <div class="col-md-2"></div>
                    <div class="col-md-8 info-column">
                        <div class="col-md-4">
                            <a href="{% url 'profile' friend.id %}">
                                <img class="img-thumbnail" alt="100x100" width="100px"
                                     src="{% url 'profile_image' friend.id %}"
                                     data-holder-rendered="true"></a>
                        </div>
                        <!-- name -->
                        <div class="col-md-8">
                    <span class="span-username">
                        <a href="{% url 'profile' friend.id %}">{{ friend.nick_name }}</a></span>
                            <span>({{ friend.user }})</span>
                            </br>
                            <span>@{{ friend.school }}</span>

                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}


{% block right-sidebar %}
    {% if recommend_list %}
        <div class="users-you-may-know">Users you may know:</div>
    {% endif %}

    <div class="recommendations">
        <!--TODO: recommend style -->
        {% for key, value in recommend_list.items %}
            <div class="one-recommendation">
                <div class="row" id="recommend-{{ key.id }}">
                    <!-- image -->
                    <div class="col-md-3">
                        <a href="{% url 'profile' key.id %}">
                            <img class="img-thumbnail" alt="50x50" width="50px" src="{% url 'profile_image' key.id %}"
                                 data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <!-- name -->
                        <span class="span-rec-name">{{ key.username }}</span>
                        <span class="in_course">in {{ value }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock right-sidebar %}