{% extends "dueLink/base.html" %}
{% load staticfiles %}
{% block links %}
    {{ block.super }}
    <link href="{% static 'fullcalendar-2.4.0/fullcalendar.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar-2.4.0/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
    <link href="{% static 'css/schedule.css' %}" rel="stylesheet" />

    <script src="{% static 'fullcalendar-2.4.0/lib/moment.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'fullcalendar-2.4.0/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/schedule.js' %}">

    </script>
{% endblock links %}

{% block title %}Home{% endblock %}
{% block content %}
<ul>
    <li><a href="#">Deadline</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Friends</a></li>
</ul>
<div>
    <p>Your Calendar</P>
    <div id="calendar"></div>
</div>

    <a href='{% url 'logout' %}'>Log out</a>
{% endblock content %}