{% extends "duelink/base.html" %}
{% load staticfiles %}
{% block links %}
    {{ block.super }}

    <link href="{% static 'fullcalendar-2.4.0/fullcalendar.css' %}" rel='stylesheet'/>
    <link href="{% static 'fullcalendar-2.4.0/fullcalendar.print.css' %}" rel='stylesheet' media='print'/>
    <link href="{% static 'css/schedule.css' %}" rel="stylesheet"/>


    <script src="{% static 'jquery/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'fullcalendar-2.4.0/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar-2.4.0/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/schedule.js' %}"></script>

{% endblock links %}

{% block title %}Home{% endblock %}
    {% block home %}
        <li class="active">
            <a href="#">
                <img class="nav-image" src="{% static "images/schedule.png" %}">
                <span class="text">Schedule</span>
            </a>
        </li>
    {% endblock home %}

{% block content %}

    <div class="calendar">
            <p>My Calendar</p>
        <a class="add-event btn" id="schedule-add-event" href="{% url 'add_event' %}">Add Due</a>
        <div id='script-warning'>
            error occurs when loading events.
        </div>
        <div id='loading'>loading...</div>
        <div id="calendar"></div>
    </div>


{% endblock content %}
