{% extends "dueLink/base.html" %}
{% block title %}Login{% endblock %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock links %}
{% block header %}
    <div class="topbar">
        <div class="global nav loggedout">
            <div class="container">
                <div class="sign icon">
                    <img src="../../static/images/duelink_white.png">
                </div>
                <div class="pull-right">
                    <a class="register" href='{% url 'register' %}'>Register</a>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}
{% block content %}

    {% block error %}
        {% if error %}
            <p class="error" style="color:red">
                Incorrect username and password.
            </p>
        {% endif %}
    {% endblock %}

    <form class="form login" action="{% url 'login' %}" method="POST">
        <h2 class="form login header">Please login</h2>

        <div class="textbox">
            <div class="prompt username" data-fieldname="username">
                <div class="field">
                    <input type="text" id="inputUserName" class="form-control" placeholder="Username" name="username"
                           required
                           autofocus>

                    <div class="side-tip">
                    </div>
                </div>
            </div>
            <div class="prompt password" data-fieldname="password">
                <div class="field">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                           name="password" required>

                    <div class="side-tip">
                    </div>
                </div>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>

            <label onclick="location.href='{% url 'password_reset' %}'" class="forget">Forget Password</label>

        </div>

        <input class="submit button login" type="submit" value="Sign in">
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>


{% endblock %}
{% block log_out %}

{% endblock %}