{% extends "duelink/base.html" %}
{% block title %}Setting New Password{% endblock %}

{% block content %}
    {% if validlink %}
        <form class="" action="" method="POST">
            <h2 class="">Please enter your new password</h2>
            <table>
                <tr>
                    <td>{{ form.new_password1 }}</td>
                    <td class="error">{{ form.new_password1.errors }}</td>
                </tr>
                <tr>

                    <td>{{ form.new_password2 }}</td>
                    <td class="error">{{ form.new_password2.errors }}</td>
                </tr>
            </table>
            <input class="" type="submit" value="Reset"/>
            {% csrf_token %}
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br/>
            possibly because it has already been used. <br/>
            Please request a new password reset.</p>
    {% endif %}
    {% block log_out %}{% endblock %}

{% endblock %}
