{% extends "duelink/base.html" %}
{% block title %}Password Reset Successful{% endblock %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock links %}

{% block header %}
    <div class="topbar">
        <div class="global nav loggedout">
            <div class="container">
                <div class="sign icon">
                    <img src="{% static "images/duelink_white.png" %}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <p>An email has been sent to your submitted address.</p>
    <p>Please follow the instructions in the email to reset your password.</p>

    {% block log_out %}{% endblock %}

{% endblock %}


