{% extends "duelink/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock links %}

{% block header %}
    <div class="topbar">
        <div class="global nav loggedout">
            <div class="container">
                <div class="sign icon">
                    <img src="{% static "images/duelink_white.png" %}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <h2 class="">Please input your registered email to receive instructions for resetting your password.</h2>
    <form class="" action="" method="POST">
        <p class="error">{{ form.email.errors }}</p>
        {{ form.email }}
        <input class="" type="submit" value="Send"/>
        {% csrf_token %}
    </form>
    {% block log_out %}

    {% endblock %}
{% endblock %}