{% load add_css %}
<div id="task_{{ task.id }}" class="box effect">
    <form id='task_form_{{ task.id }}' action="{% url 'update_task' task.id %}" method="POST">
        <h3>Task {{ forloop.counter }}</h3>
        <hr>
        <p>{{ task.description }}</p>
        <hr>
        <div class="one-task">
            <p id="task_status_{{ task.id }}">
                {% if task.finished %}
                    <span class="finished">Status : finished </span>

                {% else %}

                    <span class="unfinished">Status : not finished</span>
                {% endif %}
                <input type="hidden" name="task_id" value={{ task.id }}>
                <button type="button" class="form-control1" onclick="updateTask()">Change Status</button>
            </p>
        </div>

        {% csrf_token %}
    </form>
</div>
