{% load add_css %}
<div id="task_{{ task.id }}" class="box effect">
    <form id='task_form_{{ task.id }}' action="{% url 'update_task' task.id %}" method="POST">
        <h3>Task {{ forloop.counter }}</h3>
        <hr>
        <p class="task-description">{{ task.description }}
            <input type="hidden" name="task_id" value={{ task.id }}>
            <button type="button" class="form-control0" onclick="deleteTask()">Delete</button>
        </p>
        <hr>

            <p id="task_status_{{ task.id }}">
                {% if task.finished %}
                    <span class="finished">Status : finished </span>

                {% else %}

                    <span class="unfinished">Status : not finished</span>
                {% endif %}
                <input type="hidden" name="task_id" value={{ task.id }}>
                <button type="button" class="form-control1" onclick="updateTask()">Change Status</button>
            </p>


        {% csrf_token %}
    </form>
</div>
