#add-event {
    margin-top: 50px;
}

form.form.add-event {
    margin-left: 45%;
}

div.demo {
    padding-left: 0.5%;
    margin-left: 45%;
}

input.form-control {
    border: 1px solid #e1e8ed;
    width: 420px;
    height: auto;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 8%;
}

select.form-control {
    width: 420px;
    font-size: 12px;
    margin-bottom: 6%;
    margin-top: 3%;
}

#timePicker, #datePicker {
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    height: auto;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 5%;
    width: 44%;
}

div.select.time {
    color: #66757f;
    font-family: 'Calibri Light', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 3%;
}

td.select.course {
    font-size: 16px;
    font-weight: bold;
    padding-left: 1%;
}

#timePicker {
    margin-right: 3%;
}

label {
    margin: auto 3% auto -14.2%;
}

input.form-control::-webkit-input-placeholder {
    color: #aab8c2;
}

input.form-control:-moz-placeholder { /* Firefox 18- */
    color: #aab8c2;
}

input.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #aab8c2;
}

input.form-control:-ms-input-placeholder {
    color: #aab8c2;
}

.form.add-event.header {
    text-align: center;
    font-family: 'Calibri Light', Helvetica, Arial, sans-serif;
    font-size: 35px;
    /*padding-left: -20%;*/
    margin: 8% auto 5% -15%;
}

.navbar.navbar-default.navbar-fixed-top {
    background: #ffffff;
    height: 56px;
    width: auto;
    /*max-width: 80px;*/
}

#nav-search-logout {
    height: 60px;
}

.container {
    display: inline-block;
    max-width: 80%;
}

.nav-image {
    max-width: 25px;
    max-height: 25px;
}

.text {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #66757f;
    vertical-align: middle;
}

.calendar {
    margin-top: 70px;
}

div.pull-right {
    display: inline-block;
    height: 50px;
    padding-top: 13px;
    white-space: nowrap;
    width: 400px;
}

.logout {
    font-size: 16px;
    color: #66757f;
    float: right;
}

img.navbar-brand {
    max-width: 100px;
    max-height: 50px;
}

.sign.icon {
    margin-top: -50px;
}

.pull-right.search {

    max-width: 180px;
}

.search-input {
    width: 100%;
    padding: 8px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out;
    margin-right: -20%;
}

button.search.icon {
    border: none;
    border-radius: 15px;
    background: inherit;
}

img.search.icon {
    width: 18px;
    height: 18px;
}

.add-event {
    color: #66757f;
}
#id_course, #id_course_chosen {
    width: 420px;
}
button.submit.button.add-event {
    margin-left: 45.2%;
    width: 420px;
    background: #55acee none no-repeat;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    padding: 12px 16px;
    border: 0;
    border-radius: 5px;
}