#name {
    background: #FFF;
    color: #1b6d85;
    font-size: 20px;
}
.deadline-content {
    border-radius: 10px;
}
#deadline-row {
    margin: auto;
    margin-bottom: 10px;
    background: #f2dede;
}
#deadline-icon-row {
    margin: 20px -20px 20px -20px;
}