.navbar.navbar-default.navbar-fixed-top {
    background: #ffffff;
    height: 56px;
    width: auto;
    /*max-width: 80px;*/
    /*margin-bottom: 20px;*/
}

.container {
    display: inline-block;
    max-width: 80%;
}

.nav-image {
    max-width: 25px;
    max-height: 25px;
}

.text {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #66757f;
    vertical-align: middle;
}

.calendar {
    margin-top: 20px;
}

div.pull-right {
    display: inline-block;
    height: 50px;
    padding-top: 13px;
    white-space:nowrap;
    width:400px;
}

.logout {
    font-size: 16px;
    color: #66757f;
    float: right;
}

img.navbar-brand {
    max-width: 100px;
    max-height: 50px;
}

.sign.icon {
    margin-top: -45px;
}
.pull-right.search {

    max-width: 180px;
}

.search-input {

    width: 100%;
    padding: 8px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    transition: all .2s ease-in-out;
    margin-right: -20%;
}
button.search.icon {
    border:none;
    border-radius: 15px;
    background: inherit;
}
img.search.icon {
    width: 18px;
    height: 18px;
}

