.navbar.navbar-default.navbar-fixed-top {
    background: #ffffff;
    height: 56px;
<<<<<<< HEAD
    width:auto;
=======

    /*max-width: 80px;*/
>>>>>>> development
    /*margin-bottom: 20px;*/
}

.container {
    display: inline-block;
    max-width: 80%;
}


.nav-image {
    max-width: 25px;
    max-height: 25px;
}

.text {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #66757f;
    vertical-align: middle;
}

.calendar {
    margin-top: 70px;
}

div.pull-right {
    height: 50px;
    padding-top: 13px;
}

.logout {
    font-size: 16px;
    color: #66757f;
}

img.navbar-brand {
    max-width: 100px;
    max-height: 50px;
}

.sign.icon {
    margin-top: -45px;
}