body {background:#ccc}

.tasks{
    margin-top:100px;
}

.unfinished{
    color: red;
}

.finished{
    color: lawngreen;
}

.box h3{
    margin-top: 10px;
  text-align:left;
	position:relative;
}

.box hr{
    margin-top:0;
    margin-bottom: 0;
}

.box p{
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
}

.box button{
    float: right;
}
.box {
	width:70%;
	background:#FFF;
	margin: auto;
    padding: 10px;
}

div{
   text-align: center;
}

/*http://codepen.io/haibnu/pen/FxGsI*/
.effect
{
  position: relative;
}
.effect:before, .effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
