body {background:#ffffff}

.tasks{
    margin-top:100px;
    font-size: 16px;
}

.unfinished{
    color: red;
    font-size: 16px;
    vertical-align: middle;
}

.finished{
    color: forestgreen;
    font-size: 16px;
    vertical-align: middle;
}

.box h3{
    margin-top: 10px;
  text-align:left;
	position:relative;
}

.box hr{
    margin-top:0;
    margin-bottom: 0;
}

.box p{
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
}

.box button{
    float: right;
}

.box {
	width:70%;
	background:#fff8cb;
	margin: auto;
    padding: 10px;
}

.box-progress h3{
    margin-top: 10px;
  text-align:center;
	position:relative;
}

.box-progress hr{
    margin-top:0;
    margin-bottom: 0;
}

.box-progress p{
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.box-progress {
    width:30%;
	background:#fff8cb;
	margin: auto;
    padding: 10px;
}

input.form-control {
    display: inline;
    width: 70%;
}

button.form-control {
    width: 10%;
    background: #55acee none no-repeat;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
}

button.form-control0, button.form-control1 {
    width: 20%;
    padding: 1% 0 1% 0;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
}
button.form-control0 {
    background: #b72122 none no-repeat;
}
    button.form-control1 {
    background: #55acee none no-repeat;
}

div{
   text-align: center;
}

/*http://codepen.io/haibnu/pen/FxGsI*/
.effect
{
  position: relative;
}
.effect:before, .effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.task-description {
    font-size: 18px;
    vertical-align: middle;
    padding: 0 0 1% 0;
}